.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 13px 16px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: darkslateblue;
    color: #ffffff;

}

#valutazioni {
    width: 100%;
    border-collapse: collapse;
}

#valutazioni td,
#valutazioni th {
    padding: 13px 16px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

#valutazioni th {
    background-color: darkslateblue;
    color: #ffffff;

}